			<div class="col-md-4">
<div class="list-group">
			<a href="{{url_for('dashboard', server_id=guild['id'])}}" class="list-group-item">
				<h4 class="list-group-item-heading"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar aos modulos</h4>
				</a>

	</div>
<div class="list-group">
			<a href="{{url_for('guilds')}}" class="list-group-item">
				<h4 class="list-group-item-heading"><i class="fa fa-share-square" aria-hidden="true"></i> Voltar aos servidores</h4>
				</a>

	</div>

			</div>
