{% extends 'dash_base.html' %}
{% block dash_content %}

  <div class="container">
    <div class="row">
       {% include 'back.html' %}


      <div class="col-md-8">

          {% if guild_db['leave_status'] == True %}
            
                {% if sts == True%}

                <div class="well well-sm">Status : Atualizado com sucesso!</div>
                  {%else%}
                  {%endif%}

          
          <h3><i class="fa fa-sign-out" aria-hidden="true"></i> Adeus</h3>
              <form id="leave" method="POST" action="{{url_for('update_leave', server_id=guild['id'])}}">
            <div class="form-group">
              <label class="control-label" for="leave_message">Messagem</label>
              {% if guild_db['leave_text'] == None%}
                    <textarea class="form-control input-lg leave_message" name="leave_message" id="leave_message">O {user_mention}, saiu do {server_name}.</textarea>

                  {%else%}
                  <textarea class="form-control input-lg leave_message" name="leave_message" id="leave_message">{{ guild_db['leave_text'] }}</textarea>
                  {%endif%}
      
              <div class="well well-sm">
                <strong>Exemplo: </strong> O {user_mention}, saiu do {server_name}.
              </div>

              <label class="control-label" for="channel_name">Tipo de mensagem</label>
              <select class="input-lg form-control" name="type">
                  <option value="3"{%if guild_db['leave_type'] == "3" %} selected{%endif%}>Imagem</option>
                  <option value="2"{%if guild_db['leave_type'] == "2" %} selected{%endif%}>Embed</option>
                  <option value="1"{%if guild_db['leave_type'] == "1" %} selected{%endif%}>Texto</option>
              </select>
              <label class="control-label" for="channel_name">Canal da messagem</label>
              <select class="input-lg form-control" name="channel">
                  <option value="None"{%if guild_db['leave_channel'] == None %} selected{%endif%}>#Não definido</option>
                  {% for channel in channels %}
                  <option value="{{channel.id}}"{%if channel.id == guild_db['leave_channel'] %} selected{%endif%}>#{{channel.name}}</option>
                  {% endfor %}    
              </select>
              <br>


          {%else%}
          <h3>Desejas ativar o modulo?</h3>
          <form id="leave" method="POST" action="{{url_for('update_leave', server_id=guild['id'])}}">
          <button type="submit" class="btn btn-success" name="btn" value="ligar">Ativar</button>
          <button type="submit" class="btn btn-danger" name="btn" value="desligar">Desativar</button>

          {%endif%} 


                {% if guild_db['leave_status'] == True%}

              <button type="submit" class="btn btn-primary" name="btn" value="atualizar">Atualizar</button>
              <button type="submit" class="btn btn-primary" name="btn" value="resetar">Resetar</button>
              <button type="submit" class="btn btn-danger" name="btn" value="desligar">Desativar</button>

                  {%else%}
                  {%endif%} 
  

            </div>
          </form>
        </div>

    </div>
  </div>

  <script src="{{url_for('static', filename='js/mention.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap-typeahead.js')}}"></script>
  <link href="{{url_for('static', filename='css/recommended-styles.css')}}" rel="stylesheet">
    </div>
  </div>

{% endblock %}
