{% extends 'full-page.html' %}
{% block content %}
</head>

</style>
	<div class="jumbotron home-jumbotron">
		<div class="container">
			<div class="row" style="display: flex;align-items: center;">
				<div class="col-md-6  col-sm-12 text-center animated bounceInUp">
					<img src="{{url_for('static', filename='img/asuna_index.png')}}" class="hidden-xs">
					<h1><strong>Asuna</strong></h1>
					<h3>O único bot que você irá precisar no <strong>Discord</strong></h3>
					<h2>Um simples e completo bot para usar em seu servidor, configure seu servidor de maneira simples e rápida</h2>
					<p>
					

            <a href="{{ url['url_bot'] }}"><button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Convide me!</button></a>
	
					</p>
				</div>
				<div class="col-md-6 hidden-sm hidden-xs">
						<img src="{{url_for('static', filename='img/discord_fundo.png')}}" class="animated bounceInUp">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
